Aula2/agenda.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT agenda (entrada|grupo)+ >
<!ELEMENT entrada (nome, email, telefone) >

<!ELEMENT nome (#PCDATA) >
<!ELEMENT email (#PCDATA) >
<!ELEMENT telefone (#PCDATA) >

<!ATTLIST telefone
    id ID #REQUIRED
    tipo CDATA #IMPLIED >

<!ELEMENT grupo (entrada|grupo|ref)+ >
<!ATTLIST grupo 
	gid ID #REQUIRED >
<!ELEMENT ref EMPTY >
<!ATTLIST ref 
	apontado IDREF #REQUIRED >